.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        color: yellow;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: dotted;
    }
    h2{
        color: aqua;
        text-decoration: line-through;
    }
    img{
        width: 500px;
        height: auto;
    }
    p{
        color: red;
    }
}