html{
    min-height:50%;
}

body{
    margin: 10%;
    padding: 0;
    background-color: rgb(53, 53, 225);
    min-height: 50%;
    padding-bottom: 5rem;
    font-size: 1rem ;
}
h1{
    color: white;
}
.label{
    color: white;
}

#btnBuscar{
    border-radius: 15px;
    border: none;
    background-color: rgb(151, 181, 226);
    padding: 0.8rem;
}

#inputBuscador{
    border-radius: 5px;

}
.form-group.row sintomas{
    display: off;
}
#sintomas::placeholder{
    color: transparent;
}

@media (max-width:575px){
    .table th,
    .table td{
        padding : 4px;
    }
    .card-title{
        display: none;
    }
    .table th:nth-child(1),
    .table td:nth-child(1),
    .table th:nth-child(2),
    .table td:nth-child(2),
    .table th:nth-child(3),
    .table td:nth-child(3) {
        width: 25%;
    }

    .table th:nth-child(4),
    .table td:nth-child(4),
    .table th:nth-child(5),
    .table td:nth-child(5) {
        width: 20%;
    }
    .form-group.row label{
        margin-bottom: 5px;
        display: none;
    }
    .orm-group.row label{
        display: none;
    }
    #sintomas::placeholder{
        color: gray;
    }


}